* {
    box-sizing: border-box;
}

/* Estilos para el cuerpo del documento, incluyendo colores, márgenes y flujo de elementos */
body {
    background-color: #333;
    color: #000000;
    margin: 0;
    flex-flow: column nowrap;
    min-height: 100vh;
}

h2{
    margin: 5px;
}

a {
    color: rgb(255, 255, 255); /* Cambia el color del texto a negro */
    text-decoration: none; /* Elimina la decoración de subrayado */
  }

#map { 
    position: relative;
    min-height: 70vh; }

#continue-btn {
        bottom: 10px; /* Espacio desde la parte inferior del div del mapa */
        right: 10px; /* Espacio desde el lado derecho del div del mapa */
}


.pedir {
    display: flex;
    background-color: #6E7C89;
    color: #000000;
    min-height: 30vh;
    flex-flow: column nowrap;}


#elegir_servicio {
    display: flex;
        background-color:   #A6856F      ;
        color: #ffffff; 
        justify-content: center;
        align-items: center; /* O puedes utilizar width: 20%; */
}

.custom-radio {
    display: none;
}

.custom-radio:checked + label {
    background-color: #00cc29;
    color: white;
}

div.form_option{
    display: flex;
    align-items: center;
    justify-content: center;
}

#opciones {
    display: flex;
    flex: 20;
    background-color: #E8C39E;
    color: #000000;
    flex-direction: row; 
    /* O puedes utilizar width: 55%; */
}

button{
    flex-grow: 1;
}
div.electrico{
    background-color: #ffffff;
    color: #000000;
}

div.mecanico{
    background-color: #ff0000;
    color: #000000;
}

    
#ubicacion {
    display:flex;
    flex: 5;
    background-color: #A6856F;
    color: #000000;
    align-items: center; /* O puedes utilizar width: 25%; */
}

/* Ajustar el tamaño del control geocoder */
.leaflet-control-geocoder {
    width: 100%;
    height: 30px;
  }
  
  /* Estilo de la entrada de texto de la búsqueda */
  .leaflet-control-geocoder form input {
    height: 30px;
    width: 100%;
    border: none;
    padding: 5px;
    box-sizing: border-box;
  }
  
  /* Ajustar el botón de búsqueda */
  .leaflet-control-geocoder form button {
    height: 30px;
    width: 30px;
    padding: 0;
    border: none;
  }
  
.form_option {
    padding: 10px;
    margin: 5px;
    border: 1px solid #cccccc;
}

.form_option.selected {
    background-color: #aaaaaa;
}
