*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'open sans';

}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{
    color: #4A00E0;
    font-size: 50px;
    text-align: center;
    margin-bottom: 60px;
}

/* Header */

header{
    width: 100%;
    height: 600px;
    background: #ff00cc;  
    background-color: #D71BE6;
    background-color: #ffffff;
    background-color: #36D1DC;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%235B86E5'/%3E%3Cstop offset='1' stop-color='%2336D1DC'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%2349ace1'/%3E%3Cstop offset='1' stop-color='%2336D1DC'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.1' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

nav {
    background-color: #003268;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
    margin: 0;
    padding: 15px;
    margin-left: 30px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    text-align: center;
    position: relative;
}

nav ul li a::before {
    display: block;
    content: '';
    width: 0%;
    background: #ffffff;
    height: 3px;
    top: -10px;
    position: absolute;
    transition: width 0.3s;
}

nav ul li a:hover::before {
    width: 100%;
}



header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 200px;
    color: #ffffff;
    text-shadow: 0 0 55px rgba(0, 29, 126, 0.8);
    border-bottom: 5px solid #ffffff;
    font-family: 'Netflix Sans', Arial, sans-serif;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: azure;
}


.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* About us */

.contenedor .titulo{
    display: flex;
    justify-content: space-evenly;
    font-size: 50px;
    border-bottom: 5px solid #4A00E0;
    padding-bottom: 15px;
}

.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    width: 40%;
}

.sobre-nosotros .contenido-textos{
    width: 50%;
}

.contenido-textos h3{
    margin-bottom: 15px;
    color: #d400ff;
}

.contenido-textos h3 span{
    background: #1d71d7;
    color: azure;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

.contenedor .imagen-about-us{
    justify-content: space-evenly;
}

/* Cliente */

.cards{
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    background-color: #4d0686;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: #fff;
}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 10px;
}


/* footer */

footer{
    background-color: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #8e2b7a;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #dbdbdb;
}


/* Contenido:
    
    Quienes somos*/

    .cards1{
        display: flex;
        justify-content: space-evenly;
    }
    
    .cards1 .card1{
        background-color: #4d0686;
        display: flex;
        width: 76%;
        height: 330px;
        align-items:center;
        justify-content: space-evenly;
        border-radius: 15px;
        box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.6);
        margin: 0 10px;
    }
    
    .cards1 .card1 img{
        width: 100px;
        height: 100px;
        object-fit: cover;
        border: 3px solid #fff;
        border-radius: 50%;
        display: block;
    }
    
    .cards1 .card1 > .contenido-texto-card1{
        width: 60%;
        color: #fff;
        
    }
    
    .cards1 .card1 > .contenido-texto-card1 p{
        font-weight: 30;
        padding-top: 10px;
        font-size: 15px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }


/* CONTACTO */

.contact-section {
    background-color: #ffffff;
    padding: 50px;
    text-align: center;
}

.section-title {
    font-size: 32px;
    color: #4A00E0;
    margin-bottom: 20px;
    border-bottom: 5px solid #4A00E0;
    padding-bottom: 20px;
}

.contact-info {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.contact-item {
    margin-right: 40px;
}

.contact-item i {
    font-size: 24px;
    margin-bottom: 10px;
    color: #4A00E0;
}

.contact-item p {
    font-size: 16px;
}

.contact-item a {
    color: #4A00E0;
    text-decoration: none;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
}

.contact-form h3 {
    font-size: 24px;
    color: #4A00E0;
    margin-bottom: 20px;
}

.contact-form form {
    display: grid;
    grid-gap: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.contact-form textarea {
    height: 150px;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    background-color: #4A00E0;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #3c0090;
}

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #072d2bdc;
    color: #029aff;
    font-size: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s;
}
  
#scrollToTopBtn:hover {
    opacity: 1;
}


/* @media screen and (max-width:900px) */









